<div id="card-list" class="wrapper" fxLayout="row wrap" fxLayout.lt-sm="column"
                    fxLayoutGap="1rem"
                    fxLayoutAlign="flex-start">

    <ng-container *ngFor="let _ of [1,2,3,4,5,6]">
        <div class="item" 
        fxFlex="0 1 calc(33.3% - 1rem)" 
        fxFlex.lt-md="0 1 calc(50% - 1rem)" 
        fxFlex.lt-sm="calc(100% - 1rem)"></div>
    </ng-container>
</div>


<br>

<div class="container" gdAreas="header header header | sidebar content sidebar1 | sidebar footer sidebar1" gdRows = "25% 100px auto">
  <div class="header" gdArea="header">header Angular Grid</div>
  <div class="sidebar" gdArea="sidebar">sidebar</div>
  <div class='blocks content' gdArea='content'>
    <p> I'm Content </p>
  </div>
  <div class="sidebar" gdArea="sidebar1">sidebar</div>
  <div class='blocks footer' gdArea='footer'>Footer</div>
</div>
